= javascript_include_tag  "angular"
= javascript_include_tag  "angular-cookies"
= javascript_include_tag  "app"
= javascript_include_tag  "exercise"
= javascript_include_tag  "stack_exchange"
= javascript_include_tag  "eu_cookie_consent"

