;;;
"title": "100 days of Ruby",
"description": "Enhance your Ruby with 100 code samples",
"canonical": "http://nicholasjohnson.com/100-days-of-ruby"
;;;

%article.book_cover
  %section
    %hgroup
      %h1 100 Days of Ruby
      %h2 Advanced Ruby tricks and techniques extracted from open source Ruby projects

    %p
      %strong By Nicholas Johnson

    %p Document version 0.1.0 - Alpha

    %p (c) 2014 Nicholas Johnson

%article.book

  %section#shuffling_up
    = partial :"posts/shuffling_up"

  %section#is_a
    = partial :"posts/is_a"

  %section#blank
    = partial :"posts/blank"

  %section#include_vs_extend
    = partial :"posts/include_vs_extend"

  %section#delegating_with_extend
    = partial :"posts/delegating_with_extend"
